.main
	padding: 20px 0 
.sort
	margin-bottom: 30px
	&__title
		font-size: 20px
		line-height: 1.68
		+light
		+r(1279)
			line-height: 1.1 
		+r(1023)
			margin-bottom: 20px
		.btn-dots
			margin-left: 20px
			font-size: 15px
	.form-group
		padding-top: 7px
	.view
		padding-top: 7px
.view
	text-align: right
	span, a
		display: inline-block
		color: $text
	span
		margin-right: 10px
	a
		&.is-active
			color: $primary 

.catalog
	margin-bottom: 40px
	font-size: 15px
	&__img
		margin-bottom: 10px
		img
			display: block
			width: 100%
			height: auto
	&__title
		margin-bottom: 20px
		+bold
		font-size: 18px
		span
			color: $meta
			+light 
			font-size: 15px
	&__list
		+light
		li
			margin-bottom: 4px
		a
			display: inline-block
			padding: 1px 0 