// # SHORT HOWTO
// ## Sprites
//     .whatever
// 			+s(codedby) 
// ## gradient example
//     	+g(#232323, #5c5c5c);
//	   horizontal
//     	+gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +r(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /src/fonts
+font(segoeuii, segoeuii)
=segi
	font-family: "segoeuii", Arial, sans-serif
+font(segoeuil, segoeuil)
=segl
	font-family: "segoeuil", Arial, sans-serif
+font(PTRoubleSans, PTRoubleSans)
=rub
	font-family: "PTRoubleSans", Arial, sans-serif
+font(pfdindisplaypro-light, pfdindisplaypro-light)
=pfdl
	font-family: "pfdindisplaypro-light", Arial, sans-serif
=roboto
	font-family: 'Roboto', Arial, sans-serif
=light
	font-weight: 300
=reg
	font-weight: 400 
=bold
	font-weight: 700 
body
	+roboto
	+light
	font-size: 1.5rem
	line-height: 1.4
	color: $text 
	background: #fbf8da url(../img/body-bg.png) 0 0 repeat
// common blocks
.rub
	+rub
.inner
	position: relative
	max-width: 1280px
	margin: 0 auto
	&:before,
	&:after
		content: ""
		position: absolute
		top: 0
		bottom: 0
		width: 1px
		z-index: -1
		box-shadow: 0 0 40px rgba(#000, 1) 
	&:before
		left: 0
	&:after
		right: 0
	&_main
		padding: 27px 0 40px
		background: #fff 
.title
	+light
	line-height: 1.2
	&_h1
		margin: 27px 0
		font-size: 40px	
	&_h2
		font-size: 30px
	&_h3
		font-size: 20px
	a
		font-size: 15px
		display: inline-block
		margin-left: 5px
.h1_mb
	margin-bottom: 20px
.number
	position: relative
	display: inline-block
	height: 25px
	white-space: nowrap
	border: 1px solid #ddd
	&__input
		display: inline-block
		vertical-align: top
		height: 23px
		width: 30px
		text-align: center
		font-size: 15px
		+reg
		+roboto
	&__plus,
	&__minus	
		vertical-align: top 
		width: 23px
		height: 23px
		color: $text
		background: #f3f2f2
		&:hover
			background: darken(#f3f2f2, 5%)
		&:active
			background: darken(#f3f2f2, 10%)
	&__plus
		border-left: 1px solid #ddd 
	&__minus
		border-right: 1px solid #ddd 
.btn-dots
	display: inline-block
	line-height: 1.3
	background: none 
	border-bottom: 1px dotted
	+roboto
	+reg
	color: $btn 
	&:hover	
		border-color: transparent
		text-decoration: none
	&_light
		+light
	&_icon
		border: 0
		span
			display: inline-block
			border-bottom: 1px dotted
		&:hover
			span
				border-color: transparent
	&_big
		font-size: 20px
.btn
	padding: 11px 10px 12px
	+roboto
	+light
	font-size: 20px
	line-height: 1
	transition: background .3s
	+ .btn
		margin-top: 23px
	&:focus
		outline: none
.btn-danger
	border: 0
	padding-left: 25px
	padding-right: 25px
	background: $promo
	+tr(background .3s)
	&:hover
		background: lighten($promo, 5%) 
	&:focus,
	&:active
		background: lighten($promo, 10%)
.btn-info
	border: 2px solid $btn
	padding: 9px 10px 10px
	background: none
	text-shadow: none
	box-shadow: none
	color: $btn
	transition: color, background, border, .3s
	&:hover
		background: $primary
		color: #fff  
		border-color: $primary
	&:active,
	&:focus
		background: darken($primary, 10%)
		border-color: darken($primary, 10%)
		color: #fff
		box-shadow: none 
		outline: none
		&:focus
			background: darken($primary, 10%)
			border-color: darken($primary, 10%)
			color: #fff
			box-shadow: none 
			outline: none
.btn-default
	padding-left: 33px
	padding-right: 33px 
	background: $btn
	border: 0
	box-shadow: none
	&:hover
		background: $primary
		
	&:active, &:focus
		background: darken($primary, 10%)
		box-shadow: none
		&:hover
			background: darken($primary, 10%)
			box-shadow: none
.form-action
	position: relative
	&__table
		display: table
		width: 100%
	&__cell
		display: table-cell
		vertical-align: middle
	&__input
		display: inline-block
		vertical-align: middle
		padding: 0 12px 
		width: 100%
		height: 21px
		background: #fff
		font-size: 13px
		+roboto
		+reg
		color: $text 
		+placeholder
			color: #959595 
	&__btn
		display: inline-block
		vertical-align: middle
		padding: 0 8px
		height: 21px
		+roboto
		+reg
		font-size: 13px
		background: $btn
		line-height: 1  
	label
		+reg
.tel
	text-align: right
	font-size: 20px
	line-height: 1
	.btn-dots
		font-size: 13px
	span
		display: block
.payments
	margin-bottom: 15px
	font-size: 13px
	&__list
		padding-top: 10px 
		font-size: 0
		img
			display: inline-block
			margin-right: 4px
			vertical-align: top 
.visit-card
	li
		margin-bottom: 15px 
.soc
	font-size: 28px
	a
		display: inline-block
		background: #fff 
		+tr(color .3s)
		&:hover
			text-decoration: none
.i-icon-fb
	color: #4065b4
	&:hover
		color: darken(#4065b4, 5%)
.i-icon-tw
	color: #39b9dc
	&:hover
		color: darken(#39b9dc, 5%)
.i-icon-in
	color: #157fb9
	&:hover
		color: darken(#157fb9, 5%)
.i-icon-vk
	color: #4e759d
	&:hover
		color: darken(#4e759d, 5%)
.i-icon-yt
	color: #c13a35
	&:hover
		color: darken(#c13a35, 5%)
.tabs-link
	margin: 0
	line-height: 1.2
	font-size: 15px
	+light
	li
		display: inline-block
		margin-right: 25px
		vertical-align: middle
		&.active
			a
				border-color: transparent
				color: $text
				+bold  
	a
		display: inline-block
		border-bottom: 1px dotted 
		+tr(border .3s)
		&:hover
			text-decoration: none
			border-color: transparent 
.tabs-view
	margin: 0
	padding: 0 20px 
	line-height: 1.2
	font-size: 15px
	+light
	li
		display: inline-block
		margin-left: 25px
		vertical-align: middle
		&.active
			span
				border-color: transparent
				color: $text
				+bold  
	a
		display: inline-block
		&:hover
			text-decoration: none
	span
		&:last-child
			display: inline-block
			border-bottom: 1px dotted 
			+tr(border .3s)
			&:hover
				text-decoration: none
				border-color: transparent 
.title
	+ .post
		margin-top: 15px
.post
	margin-bottom: 22px
	&__img
		margin-bottom: 23px
		img
			display: block
			width: 100%
			height: auto
	&__main
		line-height: 1.66
		font-size: 15px
		+light
		+ .post__img
			margin-top: 20px
	&__head
		margin-bottom: 17px
		a
			font-size: 20px
	.title
		margin-bottom: 20px
.post_box
	border: 1px solid $btn
	padding: 15px 15px 33px
.meta
	font-size: 13px
	+light
	color: $meta 
	&_big
		font-size: 15px

.item
	position: relative
	margin-bottom: 43px
	padding: 0 20px 
	transition: box-shadow .2s
	&:hover
		box-shadow: 0 0 0 3px $btn
	&__img
		position: relative
		padding: 15px 0 
		height: 158px
		+vertical
		display: block
		overflow: hidden
		img
			display: inline-block
			vertical-align: middle
			max-width: 100%
			max-height: 100%
	&__main
		padding-bottom: 20px
	&__name
		height: 87px
		overflow: hidden
	&__link
		display: inline-block
		font-size: 20px
		+light
		&:hover
			text-decoration: none
			span
				border-bottom: 1px solid 
		img
			margin-right: 5px
	&__action
		+clr
		margin-bottom: 13px
		.price
			float: left
		.number
			float: right
			margin-top: 4px
		
.item_marked
	box-shadow: 0 0 0 3px $marked
	&:hover
		box-shadow: 0 0 0 3px $marked
.item_small
	.item__link
		font-size: 15px
	.item__name
		height: 70px
	.item__img
		height: 130px
	.price
		float: none
.price
	font-size: 25px
	+bold
	line-height: 1
	&__old
		display: inline-block
		font-size: 15px
		text-decoration: line-through
	&__new
		color: $promo
.price_inline
	display: inline-block
	vertical-align: baseline 
	&__old
		vertical-align: baseline
.price_promo
	color: $btn
	font-size: 40px
	+bold
	.price__weight
		font-size: 20px
		+light
		color: $text 
.price_small
	font-size: 15px
.badge
	position: absolute
	right: 15px
	top: 15px
	padding: 3px 5px 2px 
	border-radius: 0
	font-size: 15px
	+light
	&_new
		background: $marked
		color: $text
	&_hot
		background: $hot
		color: #fff  

.checkbox
	position: relative
	margin: 0 0 5px 
	font-size: 13px
	+light
	color: $text 
	+ .checkbox
		margin: 0 0 5px 
	input
		position: absolute
		opacity: 0
		&:checked
			+ span
				&:after
					display: block
				&:before
					border-color: $btn 
	label
		> span
			display: block
			position: relative
			+nosel
			&:before
				content: ""
				position: absolute
				left: -20px
				top: 2px
				border: 1px solid #000
				width: 13px
				height: 13px
			&:after
				content: $i-icon-check
				position: absolute 
				left: -18px
				top: 5px
				font-size: 7px
				+i-icon
				color: $btn 
				display: none
	.btn-dots
		font-size: 15px
.cols-counter
	column-count: 2
	.checkbox
		padding-right: 5px
.form-group
	label
		font-size: 15px
		+light
.form-control
	font-size: 13px
	+roboto
	+light
select
	&.form-control
		margin-top: -2px
		height: 24px
