// # SHORT HOWTO
// ## Sprites
//     .whatever
// 			+s(codedby)
// ## gradient example
//     	+g(#232323, #5c5c5c);
//	   horizontal
//     	+gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +r(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /src/fonts
+font(segoeuii, segoeuii)
=segi
	font-family: "segoeuii", Arial, sans-serif
+font(segoeuil, segoeuil)
=segl
	font-family: "segoeuil", Arial, sans-serif
+font(PTRoubleSans, PTRoubleSans)
=rub
	font-family: "PTRoubleSans", Arial, sans-serif
+font(pfdindisplaypro-light, pfdindisplaypro-light)
=pfdl
	font-family: "pfdindisplaypro-light", Arial, sans-serif
=roboto
	font-family: 'Roboto', Arial, sans-serif
=light
	font-weight: 300
=reg
	font-weight: 400
=bold
	font-weight: 700
html
	&.no-scroll
		overflow: hidden
body
	min-width: 320px
	+roboto
	+light
	font-size: 1.5rem
	line-height: 1.4
	color: $text
	background: #fbf8da url(../img/body-bg.png) 0 0 repeat
	&.no-scroll
		overflow: hidden

// common blocks
.wrap
	+clr
.rub
	+rub
.inner
	position: relative
	max-width: 1280px
	margin: 0 auto
	&:before,
	&:after
		content: ""
		position: absolute
		top: 0
		bottom: 0
		width: 1px
		z-index: -1
		box-shadow: 0 0 40px rgba(#000, 1)
	&:before
		left: 0
	&:after
		right: 0
	&_main
		padding: 27px 0 40px
		background: #fff
.title
	+light
	line-height: 1.2
	&_h1
		margin: 27px 0
		font-size: 40px
		+r(767)
			font-size: 30px

	&_h2
		font-size: 30px
		+r(767)
			font-size: 20px

	&_h3
		font-size: 20px
		+r(767)
			font-size: 18px

	a
		font-size: 15px
		display: inline-block
		margin-left: 5px
	span
		color: $btn

.h1
	font-size: 40px
	+light
	line-height: 1.2
	span
		color: $btn
	+r(767)
		font-size: 35px
.h2
	font-size: 30px
	+light
	line-height: 1.2
	span
		color: $btn
	+r(767)
		font-size: 25px
.h3
	font-size: 20px
	+light
	line-height: 1.2
	span
		color: $btn
	&_primary
		color: $btn
	+r(767)
		font-size: 18px
.h3_bold
	font-weight: 700
.h1_mb,
.h2_mb,
.h3_mb
	margin-bottom: 20px
.link
	span
		margin-right: 10px
	&_icon
		white-space: nowrap
		i
			margin-right: 10px
		span
			border-bottom: 1px solid transparent
			white-space: normal
		&:hover
			text-decoration: none
			span
				border-color: $primary
	&.is-cancel
		color: $hot
		&:hover
			span
				border-color: $hot
.number
	position: relative
	display: inline-block
	height: 25px
	white-space: nowrap
	border: 1px solid #ddd
	&__input
		display: inline-block
		vertical-align: top
		height: 23px
		width: 30px
		text-align: center
		font-size: 15px
		+reg
		+roboto
	&__plus,
	&__minus
		vertical-align: top
		width: 23px
		height: 23px
		color: $text
		background: #f3f2f2
		&:hover
			background: darken(#f3f2f2, 5%)
		&:active
			background: darken(#f3f2f2, 10%)
	&__plus
		border-left: 1px solid #ddd
	&__minus
		border-right: 1px solid #ddd
.btn-dots
	display: inline-block
	line-height: 1.3
	background: none
	border-bottom: 1px dotted
	+roboto
	+reg
	color: $btn
	&:hover
		border-color: transparent
		text-decoration: none
	&_light
		+light
	&_icon
		border: 0
		span
			display: inline-block
			border-bottom: 1px dotted
		&:hover
			span
				border-color: transparent
	&_big
		font-size: 20px
.btn
	padding: 11px 10px 12px
	+roboto
	+light
	font-size: 20px
	line-height: 1
	transition: background .3s
	text-shadow: none
	+r(767)
		font-size: 15px
	+ .btn
		margin-top: 23px
	&:focus
		outline: none
		box-shadow: none
	&:hover
		&:focus
			outline: none
	&:active
		box-shadow: none
		outline: none
		&:focus
			outline: none
			box-shadow: none
.btn-danger
	border: 0
	padding-left: 25px
	padding-right: 25px
	background: $promo
	+tr(background .3s)
	&:hover
		background: lighten($promo, 5%)
	&:focus,
	&:active
		background: lighten($promo, 10%)
.btn-info
	border: 2px solid $btn
	padding: 9px 10px 10px
	background: none
	text-shadow: none
	box-shadow: none
	color: $btn
	transition: color, background, border, .3s
	&:hover
		background: $primary
		color: #fff
		border-color: $primary
	&:active,
	&:focus
		background: darken($primary, 10%)
		border-color: darken($primary, 10%)
		color: #fff
		outline: none
		&:focus
			background: darken($primary, 10%)
			border-color: darken($primary, 10%)
			color: #fff
			box-shadow: none
			outline: none
.btn-default
	padding-left: 33px
	padding-right: 33px
	background: $btn
	border: 0
	box-shadow: none
	&:hover
		background: $primary

	&:active, &:focus
		background: darken($primary, 10%)
		box-shadow: none
		&:hover
			background: darken($primary, 10%)
			box-shadow: none
		&:focus
			background: $btn
.btn-back
	position: relative
	border: 1px solid
	padding: 0 10px
	height: 40px
	line-height: 40px
	font-size: 18px
	color: $text
	transition: color, border, background, .3s
	+r(767)
		font-size: 15px
	&:hover
		border-color: $text
		color: #fff
		background: $text
		&:after
			+arr(10,38,$text,l)
	&:before
		content: ""
		position: absolute
		left: -11px
		top: -1px
		+arr(10,40,$text,l)
	&:after
		content: ""
		position: absolute
		left: -10px
		top: 0
		+arr(10,38,#fff,l)
		transition: border .3s
.btn-next
	position: relative
	border: 0
	padding: 0 10px
	height: 40px
	line-height: 40px
	font-size: 18px
	color: #fff
	background: $btn
	transition: background .3s
	+r(767)
		font-size: 15px
	&:hover
		border-color: $text
		color: #fff
		background: darken($btn, 5%)
		&:after
			+arr(10,40,darken($btn, 5%),r)
	&:after
		content: ""
		position: absolute
		top: 0
		right: -10px
		+arr(10,40,$btn,r)
		transition: border .3s
.btn-small
	height: 34px
	line-height: 34px
	font-size: 15px
	padding: 0 10px
.btn-del
	background: none
	width: 40px
	height: 40px
	font-size: 13px
	color: $text
	span
		vertical-align: middle
	&:hover
		color: $hot
.form-action
	position: relative
	&__table
		display: table
		width: 100%
	&__cell
		display: table-cell
		vertical-align: middle
	&__input
		display: inline-block
		vertical-align: middle
		padding: 0 12px
		width: 100%
		height: 21px
		background: #fff
		font-size: 13px
		+roboto
		+reg
		color: $text
		+placeholder
			color: #959595
	&__btn
		display: inline-block
		vertical-align: middle
		padding: 0 8px
		height: 21px
		+roboto
		+reg
		font-size: 13px
		background: $btn
		line-height: 1
	label
		+reg
.tel
	font-size: 20px
	line-height: 1
	.btn-dots
		font-size: 13px
	span
		display: block
	sub
		vertical-align: baseline
		font-size: 15px
		bottom: 0
.payments
	margin-bottom: 15px
	font-size: 13px
	&__list
		padding-top: 10px
		font-size: 0
		img
			display: inline-block
			margin: 0 4px 4px 0
			vertical-align: top
			+r(1023)
				margin-right: 1px
.visit-card
	li
		margin-bottom: 15px
.soc
	font-size: 28px
	a
		display: inline-block
		background: #fff
		+tr(color .3s)
		&:hover
			text-decoration: none
	&_small
		font-size: 20px
		span
			font-size: 15px
	span
		display: block
		margin-bottom: 10px
.i-icon-fb
	color: #4065b4
	&:hover
		color: darken(#4065b4, 5%)
.i-icon-tw
	color: #39b9dc
	&:hover
		color: darken(#39b9dc, 5%)
.i-icon-in
	color: #157fb9
	&:hover
		color: darken(#157fb9, 5%)
.i-icon-vk
	color: #4e759d
	&:hover
		color: darken(#4e759d, 5%)
.i-icon-yt
	color: #c13a35
	&:hover
		color: darken(#c13a35, 5%)
.tabs-link
	margin: 0
	line-height: 1.2
	font-size: 15px
	+light
	li
		display: inline-block
		margin-right: 25px
		vertical-align: middle
		&.active
			a
				border-color: transparent
				color: $text
				+bold
	a
		display: inline-block
		border-bottom: 1px dotted
		+tr(border .3s)
		&:hover
			text-decoration: none
			border-color: transparent
.tabs-view
	margin: -35px 0 0
	padding: 0 20px
	line-height: 1.2
	font-size: 15px
	+light
	li
		display: inline-block
		margin-left: 25px
		vertical-align: middle
		&.active
			span
				border-color: transparent
				color: $text
				+bold
	a
		display: inline-block
		&:hover
			text-decoration: none
	span
		&:last-child
			display: inline-block
			border-bottom: 1px dotted
			+tr(border .3s)
			&:hover
				text-decoration: none
				border-color: transparent
.title
	+ .post
		margin-top: 15px
.post
	margin-bottom: 22px
	&__img
		margin-bottom: 23px
		img
			display: block
			width: 100%
			height: auto
	&__main
		line-height: 1.66
		font-size: 15px
		+light
		+ .post__img
			margin-top: 20px
	&__head
		margin-bottom: 17px
		a
			font-size: 20px
			+r(767)
				font-size: 18px
	.title
		margin-bottom: 20px
.post_box
	border: 1px solid $btn
	padding: 15px 15px 33px
	.btn
		+r(767)
			display: block
			width: 100%
			text-align: center
.meta
	font-size: 13px
	+light
	color: $meta
	&_big
		font-size: 15px

.item
	position: relative
	margin-bottom: 43px
	padding: 0 20px
	transition: box-shadow .2s
	&:hover,
	&.is-active
		box-shadow: 0 0 0 3px $btn
	&__img
		position: relative
		padding: 15px 0
		height: 158px
		+vertical
		display: block
		overflow: hidden
		img
			display: inline-block
			vertical-align: middle
			max-width: 100%
			max-height: 100%
	&__main
		padding-bottom: 20px
	&__name
		height: 87px
		overflow: hidden
	&__link
		display: inline-block
		font-size: 20px
		+light
		+r(767)
			font-size: 18px
		&:hover
			text-decoration: none
			span
				border-bottom: 1px solid
		img
			margin-right: 5px

	&__action
		+clr
		.price
			float: left
		.number
			float: right
			margin-top: 4px
	.btn
		margin-top: 13px
	.checkbox_big
		position: absolute
		top: 20px
		left: 20px
		z-index: 2

.item_marked
	box-shadow: 0 0 0 3px $marked
	&:hover
		box-shadow: 0 0 0 3px $marked
.item_small
	.item__link
		font-size: 15px
	.item__name
		height: 70px
	.item__img
		height: 130px
	.price
		float: none
.item_list
	display: table
	margin-bottom: 20px
	padding: 10px 0
	width: 100%
	+r(767)
		display: block
	.item__img,
	.item__main,
	.item__action
		display: table-cell
		vertical-align: bottom
		padding: 0 15px
		+r(767)
			display: block
		.number
			+r(1023)
				float: left
			+r(767)
				margin-left: 20px
	.item__img
		height: auto
		padding: 15px
		width: 20%
		+r(767)
			width: 100%
	.item__main
		width: 50%
		+r(767)
			width: 100%
	.item__action
		width: 30%
		+r(767)
			width: 100%
	.item__name
		height: 60px
		margin-bottom: 5px
	.btn
		margin: 20px 0

.price
	font-size: 25px
	+bold
	line-height: 1
	+r(1023)
		font-size: 20px
	&__old
		display: inline-block
		font-size: 15px
		text-decoration: line-through
	&__new
		color: $promo
	.price__weight
		font-size: 13px
		+light
		color: $text
.price_inline
	display: inline-block
	vertical-align: baseline
	&__old
		vertical-align: baseline
.price_promo
	color: $btn
	font-size: 40px
	+bold
	.price__weight
		font-size: 20px
		+light
		color: $text
.price_small
	font-size: 15px
.price_light
	+light
.badge
	position: absolute
	right: 15px
	top: 15px
	padding: 3px 5px 2px
	border-radius: 0
	font-size: 15px
	+light
	&_new
		background: $marked
		color: $text
	&_hot
		background: $hot
		color: #fff
		+bold
	&_big
		font-size: 29px
		padding: 6px 6px 4px 10px

.checkbox
	margin: 0 0 5px
	position: static
	+light
	color: $text
	+ .checkbox
		margin: 0 0 5px
	label
		display: inline-block
		position: relative
		font-size: 13px
	input
		position: absolute
		opacity: 0
		&:checked
			+ span
				&:after
					display: block
				&:before
					border-color: $btn
	label
		> span
			display: block
			position: relative
			+nosel
			color: #6b6867
			&:before
				content: ""
				position: absolute
				left: -20px
				top: 2px
				border: 1px solid #000
				width: 13px
				height: 13px
			&:after
				content: $i-icon-check
				position: absolute
				left: -18px
				top: 5px
				font-size: 7px
				+i-icon
				color: $btn
				display: none
	.btn-dots
		font-size: 15px
.checkbox_big
	label
		padding-left: 40px
		min-height: 31px
		font-size: 20px
		> span
			&:before
				left: -40px
				width: 27px
				height: 27px
			&:after
				top: 8px
				left: -37px
				font-size: 16px
.cols-counter
	&[data-cols="2"]
		column-count: 2
		.checkbox
			padding-right: 5px
		+r(767)
			column-count: 1
	&[data-cols="3"]
		column-count: 3
		column-gap: 30px
		line-height: 1.7
		font-size: 15px
		+r(1023)
			column-count: 1
.form-group
	label
		font-size: 15px
		// position: relative
		// top: -1px
		+light
	&.is-high-select
		.control-label
			padding-top: 4px
		select
			&.form-control
				height: 34px
.form-control
	font-size: 13px
	+roboto
	+light
	+r(1024)
		font-size: 16px
select
	&.form-control
		margin-top: -1px
		height: 24px
		padding-top: 0
		padding-bottom: 0
		-webkit-appearance: none
		-moz-appearance: none
		-ms-appearance: none
		appearance: none !important
	&.is-big
		height: 34px

.select
	position: relative
	i
		position: absolute
		top: 50%
		transform: translateY(-50%)
		right: 10px
		color: #4a4746
		font-size: 16px
		cursor: pointer
.list
	li
		position: relative
		padding-left: 13px
	& > li
		&:before
			content: ""
			position: absolute
			left: 0
			top: 8px
			width: 4px
			height: 4px
			border-radius: 50%
			background: $btn
.list-ol
	line-height: 1.7
	counter-reset: list
	li
		position: relative
		margin-bottom: 15px
		padding-left: 25px
		&:before
			content: counter(list)"."
			counter-increment: list
			position: absolute
			top: -2px
			left: 0
			color: $btn
			font-size: 20px
			+bold
			line-height: 1
		ol
			counter-reset: sublist
			margin-top: 10px
			li
				position: relative
				margin-bottom: 15px
				padding-left: 50px
				&:before
					content: counter(list)"."counter(sublist)"."
					counter-increment: sublist
			ol
				counter-reset: sublist2
				li
					position: relative
					margin-bottom: 15px
					padding-left: 50px
					&:before
						content: counter(list)"."counter(sublist)"."counter(sublist2)
						counter-increment: sublist2
	&_simple
		li
			padding-left: 0
			&:before
				color: $text
				position: static
				display: inline-block
				margin-right: 5px
				+light
				font-size: 15px
			ol
				padding-left: 20px
				li
					padding-left: 0
				ol
					padding-left: 20px
					li
						padding-left: 0
.text-offset
	padding-left: 25px
	a
		font-size: 20px
.note-text
	font-size: 13px
	+light
	font-style: italic

.nav-tabs
	margin: 40px 0
	li
		&.active
			> a
				background: #fff
				font-weight: bold
				color: $text
				&:hover,
				&:focus
					background: #fff
					color: $text
				> span
					border: 0
		> a
			margin: 0
			padding: 15px 50px
			&:hover
				border-color: transparent
				background: none
				> span
					border-color: transparent
			> span
				border-bottom: 1px dotted
.required-text
	color: $hot
.form-inline_raty
	margin-bottom: 15px
	.raty
		display: inline-block
		vertical-align: middle
		margin: 0 0 5px 15px

.modal-header
	border: 0
	.h3
		margin: 0
	.close
		font-size: 15px
		color: $text
		opacity: 1
		&:hover
			color: $hot
.date
	.form-group
		.control-label
			padding-top: 4px
			text-align: left
	&__sep
		display: block
		margin-top: 6px
		text-align: center
	&__input
		position: relative
		span
			position: absolute
			right: 7px
			top: 7px
			font-size: 20px
			pointer-events: none
.form-sort
	margin: 40px 0
	+r(767)
		margin: 10px 0
.ui-datepicker
	padding: 10px
	background: #fff
	border: 1px solid #9a9a9a
.ui-datepicker-calendar
	td
		border: 1px solid $border
		&:hover
			color: $btn
			a
				color: $btn
		&.ui-datepicker-today
			background: $btn
			color: #fff
			a
				color: #fff
		&.ui-state-disabled
			pointer-events: none
			opacity: 0.5
		&.ui-datepicker-current-day
			background: $primary
			color: #fff
			a
				color: #fff
	a
		color: $text

.btn-close
	position: absolute
	z-index: 2
	right: 10px
	top: 10px
	font-size: 11px
	color: $text
	transition: color .3s
	background: none
	&:hover
		color: $hot
.tab-content
	.tab-content
		padding-top: 30px
