// # SHORT HOWTO
// ## Sprites
//     .whatever
// 			+s(codedby) 
// ## gradient example
//     	+g(#232323, #5c5c5c);
//	   horizontal
//     	+gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +r(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /src/fonts
+font(segoeuii, segoeuii)
=segi
	font-family: "segoeuii", Arial, sans-serif
+font(segoeuil, segoeuil)
=segl
	font-family: "segoeuil", Arial, sans-serif
+font(PTRouble-sans, PTRouble-sans)
=rub
	font-family: "PTRouble-sans", Arial, sans-serif
+font(pfdindisplaypro-light, pfdindisplaypro-light)
=pfdl
	font-family: "pfdindisplaypro-light", Arial, sans-serif
=roboto
	font-family: 'Roboto', Arial, sans-serif
=light
	font-weight: 300
=reg
	font-weight: 400 
=bold
	font-weight: 700 
body
	+roboto
	+light
	font-size: 1.5rem
	line-height: 1.4
	color: $text 
	background: #fbf8da url(../img/body-bg.png) 0 0 repeat 
// common blocks
.inner
	position: relative
	max-width: 1280px
	margin: 0 auto
	&_main
		background: #fff 
		

.number
	position: relative
	display: inline-block
	vertical-align: middle
	height: 26px
	box-sizing: border-box
	padding: 2px 25px 2px 2px 
	&__input
		display: inline-block
		height: 22px
		width: 100px
		text-align: center
		font-size: 18px
	&__plus,
	&__minus
		width: 22px
		height: 22px
		color: #fff
		background: #000
.link-dots
	border-bottom: 1px dotted
	&:hover	
		border-color: transparent
		text-decoration: none
.form-action
	position: relative
	&__table
		display: table
		width: 100%
	&__cell
		display: table-cell
		vertical-align: middle
	&__input
		display: inline-block
		vertical-align: middle
		padding: 0 12px 
		width: 100%
		height: 21px
		background: #fff
		font-size: 13px
		+roboto
		+reg
		color: $text 
		+placeholder
			color: #959595 
	&__btn
		display: inline-block
		vertical-align: middle
		padding: 0 8px
		height: 21px
		background: $btn
		line-height: 1  
.tel
	text-align: right
	font-size: 20px
	line-height: 1
	.link-dots
		font-size: 13px
	span
		display: block
.payments
	margin-bottom: 15px
	font-size: 13px
	&__list
		padding-top: 10px 
		font-size: 0
		img
			display: inline-block
			margin-right: 4px
			vertical-align: top 
.visit-card
	li
		margin-bottom: 15px 
.soc
	font-size: 28px
	a
		display: inline-block
	&__fb
		+s(fb)
	&__tw
		+s(tw)
	&__in
		+s(in)
	&__vk
		+s(vk)
	&__yt
		+s(yt)
