.header
	position: relative
	z-index: 2
.header__nav
	background: $primary 
	font-size: 13px
	color: #fff
	height: 65px
	line-height: 65px
	a
		color: #fff 
		&:hover
			text-decoration: none
	.inner
		background: $primary 
	.tel
		margin-top: 12px
.nav
	a
		display: inline-block
		vertical-align: middle
		padding: 0 9px 
		+tr(background .3s)
		&:hover
			background: $btn 
.header__main
	.inner
		background: #fff
		&:before
			background: #fff 
.logo
	img
		width: 100%
		height: auto