.banner
	margin-bottom: 55px
	position: relative
	padding: 25px 
	overflow: hidden
	span
		color: $promo 
	&__img
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		img
			min-height: 100%
			min-width: 100%
			width: auto
			height: auto
	&__title
		margin-bottom: 10px
		width: 90% 
		font-size: 45px
		+light
		line-height: .8
		strong
			text-transform: uppercase
	&__text
		margin-bottom: 10px
		font-size: 25px
		+light
		span
			font-size: 35px
			+bold
.slider-info
	&__title
		display: table
		width: 100%
		line-height: 1
		span
			display: table-cell
			vertical-align: top
			width: 110px
			font-size: 80px
			color: $primary 
			&:before
				display: block
				margin: 0
		strong
			padding-top: 10px
			display: table-cell
			vertical-align: top
			font-size: 25px
	&__text
		margin: 20px 0 30px 
		font-size: 15px
		+light
.map-nav
	margin-bottom: 15px
.section-items
	margin-bottom: 40px
.benefit
	text-align: center
	font-size: 15px
	+light
	line-height: 1.66
	> span
		font-size: 94px
		color: $btn
	&__title
		margin-bottom: 5px
		font-size: 20px
		+bold 
.banner-img
	display: block
	img
		display: block
		width: 100%
		height: auto
.location-box
	margin-bottom: 33px