.steps
	position: relative
	z-index: 1
	margin-bottom: 20px
	border: 2px solid $primary
	+clr
	height: 50px
	line-height: 46px
	color: $text
	font-size: 18px 
	li
		position: relative
		float: left
		width: 25%
		padding: 0 13px 0 40px
		background: #f0f0f0 
		&:before
			content: ""
			position: absolute
			right: -20px
			top: -2px
			+arr(20,50,$primary,r) 
		&:after
			content: ""
			position: absolute
			right: -17px
			top: 0
			+arr(17,46,#f0f0f0,r) 
		&:first-child
			z-index: 4
			padding-left: 13px
		&:nth-child(2)
			z-index: 3
		&:nth-child(3)
			z-index: 2 
		&:last-child
			&:after,
			&:before
				display: none
		&.is-last	
			background: #fff
			color: $btn  
			&:after
				+arr(17,46,#fff,r)
			> span
				i
					display: inline-block
		&.is-active
			background: $primary
			color: #fff 
			&:after
				+arr(17,46,$primary,r)
		> span
			i
				display: none
				font-size: 17px
				vertical-align: middle
				margin: -3px 5px 0 0
.table
	display: table
	width: 100%
	&__head
		background: #F2F2F2
		display: table-header-group
	&__body
		display: table-row-group 
	&__row
		display: table-row
	&__cell
		display: table-cell
		padding: 10px 13px
		vertical-align: middle
.table_cart
	margin: 40px 0 
	.table__cell
		&:first-child
			width: 45%
		&:last-child
			width: 5%
			text-align: center
	.item
		margin-bottom: 0
		&:hover
			box-shadow: none
		&__main,
		&__img
			vertical-align: middle
.action-add
	margin: 30px 0 
	.btn
		margin-top: 20px