.carousel
	+r(1023)
		margin-bottom: 40px
	.slick-slide
		+vertical
		img
			display: inline-block
			vertical-align: middle
			max-height: 100%
	&__main
		height: 530px
		+r(1023)
			height: 250px
			margin-bottom: 20px
		.slick-slide
			img
				+r(1023)
					max-height: 250px
	&__nav
		height: 86px
		.slick-slide
			padding: 5px
			height: 86px
			cursor: pointer
		.slick-current
			&:after
				content: ""
				position: absolute
				top: 0
				bottom: 0
				left: 50%
				margin-left: -43px
				width: 86px
				border: 3px solid $btn
.product-info
	color: $text
	font-size: 15px
	+light
	.row
		margin-bottom: 20px
		p
			margin: 15px 0
	+r(767)
		.text-right
			text-align: left
			
.country
	img
		vertical-align: bottom
		margin-left: 5px 
	a
		margin-left: 5px
.raty
	font-size: 15px
	&__icons
		white-space: nowrap
		display: inline-block
		font-size: 20px
		height: 20px
		line-height: 1
		.star-off-png,
		.star-on-png
			display: inline-block
			vertical-align: middle
			&:before
				content: "\e831"
				+icon
				margin: 0
		.star-off-png
			color: #cecece
		.star-on-png
			color: #fec71d
	.btn-dots
		margin-left: 15px
	&_small
		.raty__icons
			font-size: 15px
		.btn-dots
			font-size: 13px
.info-text
	font-size: 15px
	+light
	&_denger
		color: $hot
	&_success
		color: $btn
	[class^='icon-']
		margin-right: 6px
		vertical-align: middle
		margin-top: -1px
.box
	border: 3px solid $btn
	padding: 20px 15px
	&__head
		margin-bottom: 20px
		.price
			margin-left: 15px 
		.meta
			margin-left: 15px
			+r(767) 
				display: block
				margin-left: 0px
	&__item
		margin-bottom: 20px
		&:last-child
			margin-bottom: 0
		p
			margin: 10px 0
		.number,
		.meta
			vertical-align: bottom
.plan-box
	margin: 55px 0
	.h2
		margin-bottom: 35px
	.h3
		margin: 0 0 20px
.cat-list
	&__group
		position: relative
		margin-bottom: 10px
		&:before
			content: ""
			position: absolute
			left: 0
			right: 0
			bottom: 6px
			height: 1px
			background: #ebebeb
	&__row
		position: relative
		display: table
		width: 100%
	&__item
		position: relative
		z-index: 2
		display: table-cell
		vertical-align: bottom
		&:first-child
			> span
				padding-left: 0
		&:last-child
			text-align: right
			> span
				padding-right: 0
		> span
			padding: 0 10px
			background: #fff

.nowrap
	white-space: nowrap
.review
	margin-bottom: 30px
	&.is-concated
		.btn-dots
			display: block
	&__head
		position: relative
		margin-bottom: 15px
		.raty
			text-align: right
	&__author
		font-weight: bold
	&__body
		margin-bottom: 15px
	.btn-dots
		display: none
.review-form
	.h2
		margin-top: 0
.slider-items
	position: relative
	+ .slider-items
		margin-top: 50px
	.tabs-link
		margin-bottom: 30px
	.slick-slider
		margin: -3px -15px
	.slick-slide
		padding: 3px 15px
		img
			display: inline-block
	.btn-wrap
		margin: 20px
		.btn
			min-width: 225px
			text-align: center
.btn-wrap
	text-align: center
