.carousel
	+r(1023)
		margin-bottom: 40px
	.slick-slide
		+vertical
		img
			display: inline-block
			vertical-align: middle
			max-height: 100%
	&__main
		height: 530px			
		@media only screen and (min-device-width : 769px) and (max-device-width : 1024px)
			height: 400px
			margin-bottom: 20px
			.slick-slide
				img
					max-height: 400px
		@media only screen and (min-device-width : 320px) and (max-device-width : 768px)
			height: 250px
			.slick-slide
				img
					max-height: 250px
		.slick-prev,
		.slick-next
			position: absolute
			top: 0
			width: 50%
			height: 100%
			border: 0
			background: none
			&:before
				display: none
		.slick-prev
			left: 0
		.slick-next
			right: 0
	&__nav
		height: 86px
		.slick-slide
			padding: 5px
			height: 86px
			cursor: pointer
		.slick-current
			&:after
				content: ""
				position: absolute
				top: 0
				bottom: 0
				left: 50%
				margin-left: -43px
				width: 86px
				border: 3px solid $btn

.product-info
	color: $text
	font-size: 15px
	+light
	.row
		margin-bottom: 20px
		p
			margin: 15px 0
	+r(767)
		.text-right
			text-align: left
.country
	img
		vertical-align: bottom
		margin-left: 5px
	a
		margin-left: 5px
.raty
	font-size: 15px
	&__icons
		white-space: nowrap
		display: inline-block
		font-size: 20px
		height: 20px
		line-height: 1
		.star-off-png,
		.star-on-png
			display: inline-block
			vertical-align: middle
			&:before
				content: "\e806"
				+icon
				margin: 0
		.star-off-png
			color: #cecece
		.star-on-png
			color: #fec71d
	.btn-dots
		margin-left: 15px
	&_small
		.raty__icons
			font-size: 15px
		.btn-dots
			font-size: 13px
.info-text
	font-size: 15px
	+light
	&_denger
		color: $hot
	&_success
		color: $btn
	[class^='icon-']
		margin-right: 6px
		vertical-align: middle
		margin-top: -1px
.box
	border: 3px solid $btn
	padding: 20px 15px
	&__head
		margin-bottom: 20px
		.price
			margin-left: 15px
		.meta
			margin-left: 24px
			+r(767)
				display: block
				margin-left: 0px
	&__item
		margin-bottom: 22px
		&:last-child
			margin-bottom: 0
		p
			margin: 10px 0
		&_pt
			padding-top: 20px
			&-sm
				padding-top: 15px
		.meta
			margin-left: 15px
			line-height: 1
			&_mod
				margin-left: 0
				line-height: 1.2
		.number,
		.meta
			vertical-align: middle
		.checkbox
			label
				> span
					&:before
						top: 3px
		.btn-dots_icon
			padding-bottom: 4px
.plan-box
	margin: 55px 0
	.h2
		margin-bottom: 35px
	.h3
		margin: 0 0 20px
	&_mt
		margin-top: 0
.cat-list
	+r(767)
		margin-bottom: 20px
	&__group
		position: relative
		margin-bottom: 10px
		&:before
			content: ""
			position: absolute
			left: 0
			right: 0
			bottom: 6px
			height: 1px
			background: #ebebeb
	&__row
		position: relative
		display: table
		width: 100%
	&__item
		position: relative
		z-index: 2
		display: table-cell
		vertical-align: bottom
		&:first-child
			> span
				padding-left: 0
		&:last-child
			text-align: right
			> span
				padding-right: 0
		> span
			padding: 0 10px
			background: #fff

.nowrap
	white-space: nowrap
.review
	margin-bottom: 30px
	&.is-concated
		.btn-dots
			display: block
	&.is-active
		.review__hidden
			display: inline
	&__head
		position: relative
		margin-bottom: 15px
		.raty
			text-align: right
	&__author
		font-weight: bold
	&__body
		margin-bottom: 15px
	&__hidden
		display: none
	.btn-dots
		display: none
.review-form
	.h2
		margin-top: -2px
.slider-items
	position: relative
	padding-top: 35px
	+r(767)
		padding-top: 35px
	+ .slider-items
		margin-top: 50px
	.tabs-link
		margin-bottom: 30px
	.slick-list
		padding: 3px 
	.slick-slide
		padding: 3px 15px
		img
			display: inline-block

	.btn-wrap
		margin: 20px
		.btn
			min-width: 225px
			text-align: center
	&_mobile
		display: none 
		+r(1023)
			display: block
		.slick-prev, 
		.slick-next
			top: -60px
			+r(767)
				top: -15px
		.slick-slider
			margin: 0
		.slick-list
			padding: 5px 
		.item
			margin: 0
	&_desktop
		+r(1023)
			display: none
		+ .slider-items
			margin-top: 0

.btn-wrap
	text-align: center
	
.tab-content_accord
	+r(767)
		margin: 30px 0 0 
		> .tab-pane
			display: block
			margin: 10px 0 
			.tab-pane__collapse
				display: none
				padding-top: 20px
				&[aria-expanded="false"]
					display: none
				&[aria-expanded="true"]
					display: block
	
	 