.sidebar
	position: relative
	&__group
		margin-bottom: 45px
		position: relative
		.sidebar__group
			margin: 20px 0
		.note-text
			margin: 20px 0 
	.cols-counter
		margin-bottom: 20px
.sort-result
	display: none
	position: absolute
	left: 0
	top: 0
	z-index: 10
	margin: -7px 0 0 20px 
	border: 2px solid
	border-left: 0
	padding: 0 10px 
	background: #fff 
	height: 32px
	font-size: 15px
	+light
	color: $btn 
	line-height: 28px
	white-space: nowrap
	&:before
		content: "" 
		position: absolute
		left: -12px
		top: -2px
		+arr(12,32,$btn,l)
	&:after
		content: "" 
		position: absolute
		left: -10px
		top: 0
		+arr(10,28,#fff,l)
.title-cat
	margin-bottom: 17px
	font-size: 20px
	+bold
.list-nav
	font-size: 15px
	+light
	li
		margin-bottom: 6px
	span
		color: $meta
	a
		display: inline-block
		padding: 2px 0 
		&:hover
			span
				color: $btn 