.sidebar
	position: relative
	&__group
		margin-bottom: 45px
		position: relative
		.sidebar__group
			margin: 20px 0
		.note-text
			margin: 20px 0 
	&__overlay
		position: absolute
		right: 0
		top: 0
		bottom: 0
		left: 0
	&__in
		+r(1023)
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0
			z-index: 2
			padding: 80px 40px 15px 
			width: 355px
			background: $btn 
			overflow-y: auto
			color: #fff 
			+r(767)
				width: 100%
	.checkbox-list
		margin-bottom: 20px
	+r(1023)
		position: fixed
		z-index: 10
		top: 0
		bottom: 0
		left: 0
		right: 0 
		transition: transform .3s
		transform: translateX(-150%)
		&.is-active
			transform: translateX(0)
		.checkbox
			color: #fff
			label
				font-size: 15px
				> span
					color: #fff 
					&:before 
						border-color: #fff
					&:after
						color: #fff
		.list-nav
			a
				color: #fff
				&:hover
					span
						color: #fff 
				span
					color: #fff 
		.btn-dots
			color: #fff 
.sort-result
	display: none
	position: absolute
	left: 0
	top: 0
	z-index: 10
	margin: -7px 0 0 20px 
	border: 2px solid
	border-left: 0
	padding: 0 10px 
	background: #fff 
	height: 32px
	font-size: 15px
	+light
	color: $btn 
	line-height: 28px
	white-space: nowrap
	span
		+r(767)
			display: none
	&:before
		content: "" 
		position: absolute
		left: -12px
		top: -2px
		+arr(12,32,$btn,l)
	&:after
		content: "" 
		position: absolute
		left: -10px
		top: 0
		+arr(10,28,#fff,l)
.title-cat
	margin-bottom: 17px
	font-size: 20px
	margin-top: 1px
	+bold
.list-nav
	font-size: 15px
	+light
	li
		margin-bottom: 6px
	span
		color: $meta
	a
		display: inline-block
		padding: 2px 0 
		&:hover
			span
				color: $btn 
.btn-sidebar
	position: absolute
	right: 20px
	top: 80px
	color: #fff
	font-size: 20px 
	background: none 