$primary: #a7c66d
$btn: #799a2a
$text: #353130
$border: #eee
$promo: #7a0026
$meta: #777
$marked: #ffde00
$hot: #ea4924
=inner-shadow
	box-shadow: 0 0 40px rgba(0,0,0,.2) 
	&:before,
	&:after
		display: none
=i-icon
	font-family: "svgfont"
	font-style: normal
	font-weight: normal
	text-rendering: auto
	speak: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale