<footer class="footer">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4">
					<div class="form-action">
						<form action="#">
							<label for="subscribe-email">
								Подписаться на новости и акции:
							</label>
							<div class="form-action__table">
								<div class="form-action__cell">
									<input class="form-action__input" type="email" placeholder="Ваш email" id="subscribe-email">
								</div>
								<div class="form-action__cell">
									<button class="form-action__btn" type="submit">Подписаться</button>
								</div>
							</div>
						</form>
					</div>
					<div class="soc">
						<a class="i-icon-fb" href="#"></a>
						<a class="i-icon-tw" href="#"></a>
						<a class="i-icon-in" href="#"></a>
						<a class="i-icon-vk" href="#"></a>
						<a class="i-icon-yt" href="#"></a>
					</div>
					<div class="visible-xs">
						<div class="payments">
							Принимаем  к оплате:
							<div class="payments__list">
								<img src="img/visa-logo.png" height="27" alt="visa">
								<img src="img/mc-logo.png" height="27" alt="mastercard">
								<img src="img/wm-logo.png" height="27" alt="webmoney">
								<img src="img/sberbank-logo.png" height="27" alt="сбербанк">
							</div>
						</div>
						<button class="btn-dots" data-toggle="modal" data-target="#modal-city" type="button">Доставляем по всей России</button>
					</div>
					
					<div class="hidden-lg hidden-md">
						<div class="tel">
							<span>8 800 555 65 56</span>
							<button class="btn-dots" data-toggle="modal" data-target="#modal-call"  type="button">Перезвоните мне</button>
						</div>
						<ul class="visit-card">
							<li><a href="#">info@gekkonmarket.ru</a></li>
							<li>
								<strong>Юридический адрес:</strong>
								<div class="visit-card__city">127273, Москва,</div>
								<div class="visit-card__street">ул. Отрадная, д. 2Б стр. 6</div>
							</li>
						</ul>
					</div>
					<div class="footer__meta visible-lg visible-md">
						<p>© 2015 Gekkon.<br>Натуальные продукты и экотовары</p>
						<p><a href="#">Создание сайта</a> — <a href="#">Individ</a></p>
					</div>
				</div>
				<div class="col-md-3 col-sm-4">
					<div class="title title_h3">Каталог</div>
					<ul class="footer__nav">
						<li><a href="#">Продукты из Европы</a></li>
						<li><a href="#">Фермерские продукты из России, СНГ, Казахстана</a></li>
						<li><a href="#">Товары для дома</a></li>
						<li><a href="#">Товары для животных</a></li>
					</ul>
					<div class="hidden-xs">
						<div class="payments">
							Принимаем  к оплате:
							<div class="payments__list">
								<img src="img/visa-logo.png" height="27" alt="visa">
								<img src="img/mc-logo.png" height="27" alt="mastercard">
								<img src="img/wm-logo.png" height="27" alt="webmoney">
								<img src="img/sberbank-logo.png" height="27" alt="сбербанк">
							</div>
						</div>
						<!-- <button class="btn-dots" data-toggle="modal" data-target="#modal-city" type="button">Доставляем по всей России</button> -->
					</div>
				</div>
				<div class="col-md-3 col-sm-4">
					<div class="title title_h3">Покупателям</div>
					<ul class="footer__nav">
						<li><a href="#">Оплата</a></li>
						<li><a href="#">Доставка</a></li>
						<li><a href="#">Акции</a></li>
					</ul>
					<ul class="footer__nav">
						<li><a href="#">О компании</a></li>
						<li><a href="#">Блог</a></li>
						<li><a href="#">Подарочная упаковка</a></li>
					</ul>
					<div class="visible-sm visible-xs">
						<div class="form-action">
							<form action="#">
								<div class="form-action__table">
									<div class="form-action__cell">
										<input class="form-action__input" type="text" placeholder="Поиск...">
									</div>
									<div class="form-action__cell">
										<button class="form-action__btn" type="submit">Найти</button>
									</div>
								</div>
							</form>
						</div>
						<a href="#" class="link-small">Карта сайта</a>
					</div>
				</div>
				<div class="col-md-3 visible-lg visible-md">
					<div class="tel">
						<span>8 800 555 65 56</span>
						<button class="btn-dots" data-toggle="modal" data-target="#modal-call-success"  type="button">Перезвоните мне</button>
					</div>
					<ul class="visit-card">
						<li><a href="#">info@gekkonmarket.ru</a></li>
						<li>
							<strong>Юридический адрес:</strong>
							<div class="visit-card__city">127273, Москва,</div>
							<div class="visit-card__street">ул. Отрадная, д. 2Б стр. 6</div>
						</li>
					</ul>
					<div class="form-action">
						<form action="#">
							<div class="form-action__table">
								<div class="form-action__cell">
									<input class="form-action__input" type="text" placeholder="Поиск...">
								</div>
								<div class="form-action__cell">
									<button class="form-action__btn" type="submit">Найти</button>
								</div>
							</div>
						</form>
					</div>
					<a href="#" class="link-small">Карта сайта</a>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12 hidden-lg hidden-md">
					<div class="footer__meta">
						<div class="row">
							<div class="col-sm-8">
								<p>© 2015 Gekkon. Натуальные продукты и экотовары</p>
							</div>
							<div class="col-sm-4 text-right">
								<p><a href="#">Создание сайта</a> — <a href="#">Individ</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
//=include modals.html
//=include menu-fixed.html
<script src="js/app.js"></script>