<header class="header">
	<div class="header__nav">
		<div class="container">
			<div class="row">
				<div class="col-lg-2">
					Ваш город: <a class="link-dots" href="#">Москва</a>
				</div>
				<div class="col-lg-4">
					<nav class="nav">
						<a href="#">Доставка</a>      
						<a href="#">Оплата</a>        
						<a href="#">О компании</a>        
						<a href="#">Блог</a>
						<a href="#">Подарки</a>
					</nav>
				</div>
				<div class="col-lg-2">
					<div class="search">
						<form action="#">
							<input class="search__input" type="text" placeholder="Поиск...">
							<button class="search__btn" type="submit">Найти</button>
						</form>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="login-box">
						<a class="link-dots" href="#">Вход</a> / 
						<a class="link-dots is-active" href="#">Регистрация</a> 
					</div>
				</div>
				<div class="col-lg-2">
					<div class="tel">
						<span>8 800 555 65 56</span>
						<a class="link-dots" href="#">Перезвоните мне</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header__main">
		<div class="container">
			<div class="row">
				<div class="col-lg-2">
					<a href="#" class="logo">
						<img src="img/logo.png" alt="Gekkon">
						<span>Gekkon</span>
						<strong>Натуральные продукты и экотовары</strong>
					</a>
				</div>
				<div class="col-lg-8">
					<div class="menu">
						<div class="row">
							<div class="col-lg-3">
								<a class="menu__item" href="#">
									<div class="menu__img">
										<span class="icon-menu-food"></span>
									</div>
									<strong class="menu__title">Продукты питания</strong>
									<span class="menu__info">со всего мира</span>
								</a>
								<div class="menu__drop">
									<div class="row">
										<div class="col-lg-2">
											<ul>
												<li><a href="#">Бакалея</a></li>
												<li><a href="#">Молочные продукты и яйца</a></li>
												<li><a href="#">Чай и кофе</a></li>
												<li><a href="#">Детсое питание</a></li>
											</ul>
										</div>
										<div class="col-lg-2">
											<ul>
												<li><a href="#">Сыры</a></li>
												<li><a href="#">Мясные деликатесы и колбасы</a></li>
												<li><a href="#">Хлеб и выпечка</a></li>
											</ul>
										</div>
										<div class="col-lg-2">
											<ul>
												<li><a href="#">Овощи и фрукты</a></li>
												<li><a href="#">Мясо и птица</a></li>
												<li><a href="#">Рыба и морепродукты</a></li>
											</ul>
										</div>
										<div class="col-lg-2">
											<ul>
												<li><a href="#">Замороженные товары</a></li>
												<li><a href="#">Вода, напитки и соки</a></li>
												<li><a href="#">Шоколад и сладости</a></li>
											</ul>
										</div>
										<div class="col-lg-4">
											<div class="row">
												<div class="col-lg-12">
													<div class="promo">
														<div class="row">
															<div class="col-lg-3">
																<div class="prom__img">
																	<img src="/" alt="">
																</div>
															</div>
															<div class="col-lg-9">
																<div class="promo__title">
																	Недели <span>Испании</span>
																	<a href="#">Все акции</a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-6">
													<div class="promo">
														<div class="row">
															<div class="col-lg-6">
																<div class="prom__img">
																	<img src="/" alt="">
																</div>
															</div>
															<div class="col-lg-6">
																<a href="#">Подарочные наборы</a>
															</div>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="promo">
														<div class="row">
															<div class="col-lg-6">
																<div class="prom__img">
																	<img src="/" alt="">
																</div>
															</div>
															<div class="col-lg-6">
																<a href="#">Рецепты</a>
															</div>
														</div>
													</div>
												</div>
											</div>
											
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3">
								<a class="menu__item" href="#">
									<div class="menu__img">
										<span class="icon-menu-prod"></span>
									</div>
									<strong class="menu__title">Продукты питания</strong>
									<span class="menu__info">со всего мира</span>
								</a>
								<div class="menu__drop">
									<div class="row">
										<div class="col-lg-2">
											<ul>
												<li><a href="#">Бакалея</a></li>
												<li><a href="#">Молочные продукты и яйца</a></li>
												<li><a href="#">Чай и кофе</a></li>
												<li><a href="#">Детсое питание</a></li>
											</ul>
										</div>
										<div class="col-lg-2">
											<ul>
												<li><a href="#">Сыры</a></li>
												<li><a href="#">Мясные деликатесы и колбасы</a></li>
												<li><a href="#">Хлеб и выпечка</a></li>
											</ul>
										</div>
										<div class="col-lg-2">
											<ul>
												<li><a href="#">Овощи и фрукты</a></li>
												<li><a href="#">Мясо и птица</a></li>
												<li><a href="#">Рыба и морепродукты</a></li>
											</ul>
										</div>
										<div class="col-lg-2">
											<ul>
												<li><a href="#">Замороженные товары</a></li>
												<li><a href="#">Вода, напитки и соки</a></li>
												<li><a href="#">Шоколад и сладости</a></li>
											</ul>
										</div>
										<div class="col-lg-4">
											<div class="row">
												<div class="col-lg-12">
													<div class="promo">
														<div class="row">
															<div class="col-lg-3">
																<div class="prom__img">
																	<img src="/" alt="">
																</div>
															</div>
															<div class="col-lg-9">
																<div class="promo__title">
																	Недели <span>Испании</span>
																	<a href="#">Все акции</a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-6">
													<div class="promo">
														<div class="row">
															<div class="col-lg-6">
																<div class="prom__img">
																	<img src="/" alt="">
																</div>
															</div>
															<div class="col-lg-6">
																<a href="#">Подарочные наборы</a>
															</div>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="promo">
														<div class="row">
															<div class="col-lg-6">
																<div class="prom__img">
																	<img src="/" alt="">
																</div>
															</div>
															<div class="col-lg-6">
																<a href="#">Рецепты</a>
															</div>
														</div>
													</div>
												</div>
											</div>
											
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3">
								<a class="menu__item" href="#">
									<div class="menu__img">
										<span class="icon-menu-goods"></span>
									</div>
									<strong class="menu__title">Продукты питания</strong>
									<span class="menu__info">со всего мира</span>
								</a>
								<div class="menu__drop">
									<div class="row">
										<div class="col-lg-2">
											<ul>
												<li><a href="#">Бакалея</a></li>
												<li><a href="#">Молочные продукты и яйца</a></li>
												<li><a href="#">Чай и кофе</a></li>
												<li><a href="#">Детсое питание</a></li>
											</ul>
										</div>
										<div class="col-lg-2">
											<ul>
												<li><a href="#">Сыры</a></li>
												<li><a href="#">Мясные деликатесы и колбасы</a></li>
												<li><a href="#">Хлеб и выпечка</a></li>
											</ul>
										</div>
										<div class="col-lg-2">
											<ul>
												<li><a href="#">Овощи и фрукты</a></li>
												<li><a href="#">Мясо и птица</a></li>
												<li><a href="#">Рыба и морепродукты</a></li>
											</ul>
										</div>
										<div class="col-lg-2">
											<ul>
												<li><a href="#">Замороженные товары</a></li>
												<li><a href="#">Вода, напитки и соки</a></li>
												<li><a href="#">Шоколад и сладости</a></li>
											</ul>
										</div>
										<div class="col-lg-4">
											<div class="row">
												<div class="col-lg-12">
													<div class="promo">
														<div class="row">
															<div class="col-lg-3">
																<div class="prom__img">
																	<img src="/" alt="">
																</div>
															</div>
															<div class="col-lg-9">
																<div class="promo__title">
																	Недели <span>Испании</span>
																	<a href="#">Все акции</a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-6">
													<div class="promo">
														<div class="row">
															<div class="col-lg-6">
																<div class="prom__img">
																	<img src="/" alt="">
																</div>
															</div>
															<div class="col-lg-6">
																<a href="#">Подарочные наборы</a>
															</div>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="promo">
														<div class="row">
															<div class="col-lg-6">
																<div class="prom__img">
																	<img src="/" alt="">
																</div>
															</div>
															<div class="col-lg-6">
																<a href="#">Рецепты</a>
															</div>
														</div>
													</div>
												</div>
											</div>
											
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3">
								<a class="menu__item" href="#">
									<div class="menu__img">
										<span class="icon-menu-for-animal"></span>
									</div>
									<strong class="menu__title">Продукты питания</strong>
									<span class="menu__info">со всего мира</span>
								</a>
								<div class="menu__drop">
									<div class="row">
										<div class="col-lg-2">
											<ul>
												<li><a href="#">Бакалея</a></li>
												<li><a href="#">Молочные продукты и яйца</a></li>
												<li><a href="#">Чай и кофе</a></li>
												<li><a href="#">Детсое питание</a></li>
											</ul>
										</div>
										<div class="col-lg-2">
											<ul>
												<li><a href="#">Сыры</a></li>
												<li><a href="#">Мясные деликатесы и колбасы</a></li>
												<li><a href="#">Хлеб и выпечка</a></li>
											</ul>
										</div>
										<div class="col-lg-2">
											<ul>
												<li><a href="#">Овощи и фрукты</a></li>
												<li><a href="#">Мясо и птица</a></li>
												<li><a href="#">Рыба и морепродукты</a></li>
											</ul>
										</div>
										<div class="col-lg-2">
											<ul>
												<li><a href="#">Замороженные товары</a></li>
												<li><a href="#">Вода, напитки и соки</a></li>
												<li><a href="#">Шоколад и сладости</a></li>
											</ul>
										</div>
										<div class="col-lg-4">
											<div class="row">
												<div class="col-lg-12">
													<div class="promo">
														<div class="row">
															<div class="col-lg-3">
																<div class="prom__img">
																	<img src="/" alt="">
																</div>
															</div>
															<div class="col-lg-9">
																<div class="promo__title">
																	Недели <span>Испании</span>
																	<a href="#">Все акции</a>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-6">
													<div class="promo">
														<div class="row">
															<div class="col-lg-6">
																<div class="prom__img">
																	<img src="/" alt="">
																</div>
															</div>
															<div class="col-lg-6">
																<a href="#">Подарочные наборы</a>
															</div>
														</div>
													</div>
												</div>
												<div class="col-lg-6">
													<div class="promo">
														<div class="row">
															<div class="col-lg-6">
																<div class="prom__img">
																	<img src="/" alt="">
																</div>
															</div>
															<div class="col-lg-6">
																<a href="#">Рецепты</a>
															</div>
														</div>
													</div>
												</div>
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<div class="col-lg-2">
					<div class="cart">
						<span class="icon-cart"></span>
						<span>В корзине</span>
						<div class="cart__info">
							<a href="#">3 товара</a> на 12 980 у
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>