<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="format-detection" content="telephone=no"/>
<meta name="theme-color" content="#fff"/>
<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,700&subset=latin,cyrillic-ext" rel="stylesheet"/>
<link rel="stylesheet" media="all" href="img/css/bootstrap.min.css"/>
<link rel="stylesheet" media="all" href="img/css/bootstrap-theme.min.css"/>
<link rel="stylesheet" media="all" href="css/style.css"/>