<div class="row">
	<div class="col-md-3 col-sm-6">
		<div class="item">
			<a class="item__img" href="#">
				<img src="img/item2.jpg" alt="img">
			</a>
			<div class="item__main">
				<div class="item__name">
					<a href="#" class="item__link">	
						<img src="img/flags/ES.png" width="24" alt="Испания" title="Испания"> 
						<span>Сыр из козьего молока «Бургос», 500 гр.</span>
					</a>
				</div>
				<div class="item__action">
					<div class="price">
						1200 <span class="rub">в</span>
						<span class="price__weight">/ 200гр</span>
					</div>
					<div class="number js-number" data-max-number="100">
						<button class="number__minus js-minus-number" type="button">-</button>
						<input type="text" class="number__input" value="1">
						<button class="number__plus js-plus-number" type="button">+</button>
					</div>
				</div>
				<button class="btn btn-default btn-block" type="button">В корзину</button>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="item">
			<a class="item__img" href="#">
				<img src="img/item3.jpg" alt="img">
			</a>
			<div class="item__main">
				<div class="item__name">
					<a href="#" class="item__link">
						<img src="img/flags/PL.png" width="24" alt="Польша" title="Польша">
						<span>Масло сливочное «Крестьянское», 170 гр</span>
					</a>
				</div>
				<div class="item__action">
					<div class="price price_select">
						<span class="price__old price__old_mod">540 <span class="rub">в</span></span>
						<span class="price__new">320 <span class="rub">в</span></span>
						<div class="price__select js-select">
							<div class="js-select">
								/ <span class="price__weight js-select-text">100гр</span>
								<select>
									<option value="100гр">100гр</option>
									<option value="200гр">200гр</option>
									<option value="300гр">300гр</option>
									<option value="400гр">400гр</option>
								</select>
							</div>
						</div>
					</div>
					<div class="number js-number" data-max-number="100">
						<button class="number__minus js-minus-number" type="button">-</button>
						<input type="text" class="number__input" value="1">
						<button class="number__plus js-plus-number" type="button">+</button>
					</div>
				</div>
				<button class="btn btn-default btn-block" type="button">В корзину</button>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="item">
			<a class="item__img" href="#">
				<img src="img/item4.jpg" alt="img">
			</a>
			<div class="item__main">
				<div class="item__name">
					<a href="#" class="item__link">
						<img src="img/flags/NO.png" width="24" alt="Новегия" title="Новегия">
						<span>Биомороженое в рожке сливочное, 90 гр.</span>
					</a>
				</div>
				<div class="item__action">
					<div class="price price_select js-weight-select">
						320 <span class="rub">в</span>
						<div class="price__select js-select">
							<div class="js-select">
								/ <span class="price__weight js-select-text">100гр</span>
								<select>
									<option value="100гр">100гр</option>
									<option value="200гр">200гр</option>
									<option value="300гр">300гр</option>
									<option value="400гр">400гр</option>
								</select>
							</div>
						</div>
					</div>
					<div class="number js-number" data-max-number="100">
						<button class="number__minus js-minus-number" type="button">-</button>
						<input type="text" class="number__input" value="1">
						<button class="number__plus js-plus-number" type="button">+</button>
					</div>
				</div>
				<button class="btn btn-default btn-block" type="button">В корзину</button>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="item">
			<a class="item__img" href="#">
				<img src="img/item5.jpg" alt="img">
			</a>
			<div class="item__main">
				<div class="item__name">
					<a href="#" class="item__link">
						<img src="img/flags/FI.png" width="24" alt="Финляндия" title="Финляндия">
						<span>Соль Fleur de sel de Guerande Danival, 500 гр.</span>
					</a>
				</div>
				<div class="item__action">
					<div class="price">320 <span class="rub">в</span></div>
					<div class="number js-number" data-max-number="100">
						<button class="number__minus js-minus-number" type="button">-</button>
						<input type="text" class="number__input" value="1">
						<button class="number__plus js-plus-number" type="button">+</button>
					</div>
				</div>
				<button class="btn btn-default btn-block" type="button">В корзину</button>
			</div>
		</div>
	</div>
</div>