<div class="slider-items">
	<div class="row">
		<div class="col-sm-12">
			<ul class="tabs-link tab-link_action">
				<li class="active">
					<h3><strong>Продукты в рецепте</strong></h3>
				</li>
				<li>
					<button class="btn-dots btn-dots_light js-check-target" type="button" data-group-target="js-group">Выделить все</button>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="js-slider-items">
				<div>
					<div class="item js-check">
						<div class="checkbox checkbox_big">
							<label>
								<input type="checkbox" class="js-checkbox" data-target-name="js-test-1 js-group">
								<span></span>
							</label>
						</div>
						<a class="item__img" href="#">
							<img src="img/item2.jpg" alt="img">
						</a>
						<div class="item__main">
							<div class="item__name">
								<a href="gekkon-01-03-product-page.html" class="item__link">	
									<img src="img/flags/ES.png" width="24" alt="Испания" title="Испания">
									<span>Сыр из козьего молока «Бургос», 500 гр.</span>
									<div class="badge badge_new-green">New!</div>
								</a>
							</div>
							<div class="item__action">
								<div class="price">1200 <span class="rub">в</span></div>
								<div class="number js-number" data-max-number="100">
									<button class="number__minus js-minus-number" type="button">-</button>
									<input type="text" class="number__input" value="1">
									<button class="number__plus js-plus-number" type="button">+</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="item js-check">
						<div class="checkbox checkbox_big">
							<label>
								<input type="checkbox" class="js-checkbox" data-target-name="js-test-2 js-group">
								<span></span>
							</label>
						</div>
						<a class="item__img" href="#">
							<img src="img/item3.jpg" alt="img">
						</a>
						<div class="item__main">
							<div class="item__name">
								<a href="gekkon-01-03-product-page.html" class="item__link">	
									<img src="img/flags/PL.png" width="24" alt="Польша" title="Польша">
									<span>Масло сливочное «Крестьянское», 170 гр</span>
								</a>
							</div>
							<div class="item__action">
								<div class="price">
									<span class="price__old">540 <span class="rub">в</span></span>
									<span class="price__new">320 <span class="rub">в</span></span>
								</div>
								<div class="number js-number" data-max-number="100">
									<button class="number__minus js-minus-number" type="button">-</button>
									<input type="text" class="number__input" value="1">
									<button class="number__plus js-plus-number" type="button">+</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="item js-check">
						<div class="checkbox checkbox_big">
							<label>
								<input type="checkbox" class="js-checkbox" data-target-name="js-test-3 js-group">
								<span></span>
							</label>
						</div>
						<a class="item__img" href="#">
							<img src="img/item4.jpg" alt="img">
						</a>
						<div class="item__main">
							<div class="item__name">
								<a href="gekkon-01-03-product-page.html" class="item__link">	
									<img src="img/flags/NO.png" width="24" alt="Новегия" title="Новегия">
									<span>Биомороженое в рожке сливочное, 90 гр.</span>
								</a>
							</div>
							<div class="item__action">
								<div class="price">320 <span class="rub">в</span></div>
								<div class="number js-number" data-max-number="100">
									<button class="number__minus js-minus-number" type="button">-</button>
									<input type="text" class="number__input" value="1">
									<button class="number__plus js-plus-number" type="button">+</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="item js-check">
						<div class="checkbox checkbox_big">
							<label>
								<input type="checkbox" class="js-checkbox" data-target-name="js-test-4 js-group">
								<span></span>
							</label>
						</div>
						<a class="item__img" href="#">
							<img src="img/item5.jpg" alt="img">
						</a>
						<div class="item__main">
							<div class="item__name">
								<a href="gekkon-01-03-product-page.html" class="item__link">	
									<img src="img/flags/FI.png" width="24" alt="Финляндия" title="Финляндия">
									<span>Соль Fleur de sel de Guerande Danival, 500 гр.</span>
								</a>
							</div>
							<div class="item__action">
								<div class="price">320 <span class="rub">в</span></div>
								<div class="number js-number" data-max-number="100">
									<button class="number__minus js-minus-number" type="button">-</button>
									<input type="text" class="number__input" value="1">
									<button class="number__plus js-plus-number" type="button">+</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="item js-check">
						<div class="checkbox checkbox_big">
							<label>
								<input type="checkbox" class="js-checkbox" data-target-name="js-test-5 js-group">
								<span></span>
							</label>
						</div>
						<a class="item__img" href="#">
							<img src="img/item2.jpg" alt="img">
						</a>
						<div class="item__main">
							<div class="item__name">
								<a href="gekkon-01-03-product-page.html" class="item__link">	
									<img src="img/flags/ES.png" width="24" alt="Испания" title="Испания">
									<span>Сыр из козьего молока «Бургос», 500 гр.</span>
									<div class="badge badge_new-green">New!</div>
								</a>
							</div>
							<div class="item__action">
								<div class="price">1200 <span class="rub">в</span></div>
								<div class="number js-number" data-max-number="100">
									<button class="number__minus js-minus-number" type="button">-</button>
									<input type="text" class="number__input" value="1">
									<button class="number__plus js-plus-number" type="button">+</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="item js-check">
						<div class="checkbox checkbox_big">
							<label>
								<input type="checkbox" class="js-checkbox" data-target-name="js-test-6 js-group">
								<span></span>
							</label>
						</div>
						<a class="item__img" href="#">
							<img src="img/item3.jpg" alt="img">
						</a>
						<div class="item__main">
							<div class="item__name">
								<a href="gekkon-01-03-product-page.html" class="item__link">	
									<img src="img/flags/PL.png" width="24" alt="Польша" title="Польша">
									<span>Масло сливочное «Крестьянское», 170 гр</span>
								</a>
							</div>
							<div class="item__action">
								<div class="price">
									<span class="price__old">540 <span class="rub">в</span></span>
									<span class="price__new">320 <span class="rub">в</span></span>
								</div>
								<div class="number js-number" data-max-number="100">
									<button class="number__minus js-minus-number" type="button">-</button>
									<input type="text" class="number__input" value="1">
									<button class="number__plus js-plus-number" type="button">+</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="item js-check">
						<div class="checkbox checkbox_big">
							<label>
								<input type="checkbox" class="js-checkbox" data-target-name="js-test-7 js-group">
								<span></span>
							</label>
						</div>
						<a class="item__img" href="#">
							<img src="img/item4.jpg" alt="img">
						</a>
						<div class="item__main">
							<div class="item__name">
								<a href="gekkon-01-03-product-page.html" class="item__link">	
									<img src="img/flags/NO.png" width="24" alt="Новегия" title="Новегия">
									<span>Биомороженое в рожке сливочное, 90 гр.</span>
								</a>
							</div>
							<div class="item__action">
								<div class="price">320 <span class="rub">в</span></div>
								<div class="number js-number" data-max-number="100">
									<button class="number__minus js-minus-number" type="button">-</button>
									<input type="text" class="number__input" value="1">
									<button class="number__plus js-plus-number" type="button">+</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="item js-check">
						<div class="checkbox checkbox_big">
							<label>
								<input type="checkbox" class="js-checkbox" data-target-name="js-test-8 js-group">
								<span></span>
							</label>
						</div>
						<a class="item__img" href="#">
							<img src="img/item5.jpg" alt="img">
						</a>
						<div class="item__main">
							<div class="item__name">
								<a href="gekkon-01-03-product-page.html" class="item__link">	
									<img src="img/flags/FI.png" width="24" alt="Финляндия" title="Финляндия">
									<span>Соль Fleur de sel de Guerande Danival, 500 гр.</span>
								</a>
							</div>
							<div class="item__action">
								<div class="price">320 <span class="rub">в</span></div>
								<div class="number js-number" data-max-number="100">
									<button class="number__minus js-minus-number" type="button">-</button>
									<input type="text" class="number__input" value="1">
									<button class="number__plus js-plus-number" type="button">+</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="btn-wrap">
		<button class="btn btn-default" type="button">В корзину</button>
	</div>
</div>
