<div class="row">
	<div class="col-md-2 col-sm-4 col-xs-6">
		<div class="item item_small">
			<a class="item__img" href="#">
				<img src="img/item2.jpg" alt="img">
			</a>
			<div class="item__main">
				<div class="item__name">
					<a href="gekkon-01-03-product-page.html" class="item__link">	
						<img src="img/flags/ES.png" width="24" alt="Испания" title="Испания"> 
						<span>Сыр из козьего молока «Бургос», 500 гр.</span>
					</a>
				</div>
				<div class="item__action">
					<div class="price">1200 <span class="rub">в</span></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2 col-sm-4 col-xs-6">
		<div class="item item_small">
			<a class="item__img" href="#">
				<img src="img/item2.jpg" alt="img">
			</a>
			<div class="item__main">
				<div class="item__name">
					<a href="gekkon-01-03-product-page.html" class="item__link">	
						<img src="img/flags/ES.png" width="24" alt="Испания" title="Испания"> 
						<span>Сыр из козьего молока «Бургос», 500 гр.</span>
					</a>
				</div>
				<div class="item__action">
					<div class="price">1200 <span class="rub">в</span></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2 col-sm-4 col-xs-6">
		<div class="item item_small">
			<a class="item__img" href="#">
				<img src="img/item2.jpg" alt="img">
			</a>
			<div class="item__main">
				<div class="item__name">
					<a href="gekkon-01-03-product-page.html" class="item__link">	
						<img src="img/flags/ES.png" width="24" alt="Испания" title="Испания"> 
						<span>Сыр из козьего молока «Бургос», 500 гр.</span>
					</a>
				</div>
				<div class="item__action">
					<div class="price">1200 <span class="rub">в</span></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2 col-sm-4 col-xs-6">
		<div class="item item_small">
			<a class="item__img" href="#">
				<img src="img/item2.jpg" alt="img">
			</a>
			<div class="item__main">
				<div class="item__name">
					<a href="gekkon-01-03-product-page.html" class="item__link">	
						<img src="img/flags/ES.png" width="24" alt="Испания" title="Испания"> 
						<span>Сыр из козьего молока «Бургос», 500 гр.</span>
					</a>
				</div>
				<div class="item__action">
					<div class="price">1200 <span class="rub">в</span></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2 col-sm-4 col-xs-6">
		<div class="item item_small">
			<a class="item__img" href="#">
				<img src="img/item2.jpg" alt="img">
			</a>
			<div class="item__main">
				<div class="item__name">
					<a href="gekkon-01-03-product-page.html" class="item__link">	
						<img src="img/flags/ES.png" width="24" alt="Испания" title="Испания"> 
						<span>Сыр из козьего молока «Бургос», 500 гр.</span>
					</a>
				</div>
				<div class="item__action">
					<div class="price">1200 <span class="rub">в</span></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-2 col-sm-4 col-xs-6">
		<div class="item item_small">
			<a class="item__img" href="#">
				<img src="img/item2.jpg" alt="img">
			</a>
			<div class="item__main">
				<div class="item__name">
					<a href="gekkon-01-03-product-page.html" class="item__link">	
						<img src="img/flags/ES.png" width="24" alt="Испания" title="Испания"> 
						<span>Сыр из козьего молока «Бургос», 500 гр.</span>
					</a>
				</div>
				<div class="item__action">
					<div class="price">1200 <span class="rub">в</span></div>
				</div>
			</div>
		</div>
	</div>
</div>