<div class="modal fade" id="modal-login" role="dialog">
	<div class="modal-dialog" >
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span class="icon-close47"></span>
				</button>
				<div class="h2">Войти</div>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="loginEmail">Email:</label>
						<input type="email" class="form-control" id="loginEmail" required="">
					</div>
					<div class="form-group">
						<label for="loginPass">Пароль:</label>
						<div class="form-group__pass">
							<input type="password" class="form-control js-password-input" id="loginPass" required="">
							<i class="icon-eye-off js-show-password"></i>
						</div>
					</div>
					<div class="form-group">
						<a class="link-solid" href="#">Забыли пароль?</a>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6">
								<button class="btn btn-default btn-block" type="submit">Войти</button>
							</div>
							<div class="col-sm-6">
								 Все поля обязательны для заполнения
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="soc soc_small">
							<span>Войти через соцсети: </span>
							<a class="i-icon-fb" href="#"></a>
							<a class="i-icon-tw" href="#"></a>
							<a class="i-icon-vk" href="#"></a>
						</div>
					</div>
					<div class="form-group">
						<a href="#" class="link-solid">Зарегистрироваться</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-call" role="dialog">
	<div class="modal-dialog" >
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span class="icon-close47"></span>
				</button>
				<div class="h2">Перезвоните мне</div>
			</div>
			<div class="modal-body">
				<form action="#">
					<!-- add class is-hidden after ajax success -->
					<div class="js-ajax-send-box">
						<div class="form-group">
							<label for="callName">Имя:<sup class="required-text">*</sup></label>
							<input type="text" class="form-control" id="callName" required="">
						</div>
						<div class="form-group">
							<label for="callTel">Телефон:<sup class="required-text">*</sup></label>
							<input type="tel" class="form-control" id="callTel" required="">
						</div>
						<div class="form-group">
							<label for="callText">Что вы хотите обсудить:</label>
							<textarea class="form-control" id="callText" rows="5"></textarea>
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-sm-6">
									<button class="btn btn-default btn-block" type="submit">Отправить</button>
								</div>
								<div class="col-sm-6">
									<div class="required-feild">
										<sup class="required-text">*</sup> Обязательные для заполнения поля
									</div>
								</div>
							</div>
						</div>	
					</div>
					<!-- remove class is-hidden after ajax success -->
					<div class="js-ajax-result-box is-hidden">
						<div class="text-left"><span class="icon-exclamation11"></span>Спасибо, мы перезвоним вам.</div>		
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-gift" role="dialog">
	<div class="modal-dialog" >
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span class="icon-close47"></span>
				</button>
				<div class="h2">Подарок при покупке</div>
			</div>
			<div class="modal-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-want-gift" role="dialog">
	<div class="modal-dialog" >
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span class="icon-close47"></span>
				</button>
				<div class="h3">Хочу в подарок</div>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="giftEmail">Email друга:</label>
						<input type="email" class="form-control" id="giftEmail" required="">
					</div>
					<div class="form-group">
						<label for="giftComment">Комментарий:</label>
						<textarea class="form-control" id="giftComment" rows="5"></textarea>
					</div>
					<div class="form-group">
						<button class="btn btn-default btn-block" type="submit">Отправить</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="basket js-modal-cart">
	<div class="h3">Товар добавлен в корзину</div>
	<div class="basket__item">
		<div class="row">
			<div class="col-xs-5">
				<div class="basket__img">
					<img src="img/item5.jpg" alt="img">
				</div>
			</div>
			<div class="col-cs-7">
				<div class="basket__main">
					<a href="#">Соль Fleur de sel de Guerande Danival</a>
					<div class="basket__info">1 шт. по цене:</div>
					<div class="price price_small price_inline price_light">
						450 <span class="rub">у</span>
						<span class="price__weight">/ 500 гр</span>
					</div>
				</div>
			</div>
			<div class="col-xs-12">
				<button class="btn btn-default btn-block" type="button">Оформить заказ</button>
				<p>Сделайте 4 заказа в декабре и получите скидку 5% на все будущие покупки.</p>
			</div>
		</div>
		
		
	</div>
</div>