<div class="sidebar js-sidebar">
	<div class="sidebar__in">
		<button class="btn-sidebar hidden-lg hidden-md js-toggler" data-toggle="js-sidebar" data-root="no-scroll" type="button">
			<span class="icon-close47"></span>
		</button>
		<div class="sidebar__group">
			<div class="title-cat">Категории:</div>
			<ul class="list-nav">
				<li><a href="#">Свежая паста и макаронные изделия  <span>(13)</span></a></li>
				<li><a href="#">Крупы  <span>(43)</span></a></li>
				<li><a href="#">Соль, специи, приправы  <span>(39)</span></a></li>
				<li><a href="#">Готовые супы и смеси  <span>(29)</span></a></li>
				<li><a href="#">Мед  <span>(24)</span></a></li>
				<li><a href="#">Сахар, сиропы  <span>(39)</span></a></li>
				<li><a href="#">Растительные масла  <span>(29)</span></a></li>
				<li><a href="#">Мука, продукты для выпечки  <span>(13)</span></a></li>
				<li><a href="#">Мюсли, хлопья  <span>(29)</span></a></li>
				<li><a href="#">Орехи, сухофрукты и семена <span>(9)</span></a></li>
			</ul>
		</div>
		<div class="sidebar__group">
			<div class="title-cat">Страны-производители:</div>
			<form action="#">
				<div class="cols-counter" data-cols="2">
					<div class="checkbox">
						<label class="js-connector">
							<input type="checkbox"> 
							<span>Австрия</span>
						</label>
					</div>
					<div class="checkbox">
						<label class="js-connector">
							<input type="checkbox"> 
							<span>Беларусь</span>
						</label>
					</div>
					<div class="checkbox">
						<label class="js-connector">
							<input type="checkbox" checked=""> 
							<span>Великобритания</span>
						</label>
					</div>
					<div class="checkbox">
						<label class="js-connector">
							<input type="checkbox" checked=""> 
							<span>Индия</span>
						</label>
					</div>
					<div class="checkbox">
						<label class="js-connector">
							<input type="checkbox" checked=""> 
							<span>Испания</span>
						</label>
					</div>
					<div class="checkbox">
						<label class="js-connector">
							<input type="checkbox"> 
							<span>Италия</span>
						</label>
					</div>
					<div class="checkbox">
						<label class="js-connector">
							<input type="checkbox"> 
							<span>Китай</span>
						</label>
					</div>
					<div class="checkbox">
						<label class="js-connector">
							<input type="checkbox"> 
							<span>Литва</span>
						</label>
					</div>
					<div class="checkbox">
						<label class="js-connector">
							<input type="checkbox"> 
							<span>Малайзия</span>
						</label>
					</div>
					<div class="checkbox">
						<label class="js-connector">
							<input type="checkbox"> 
							<span>Марокко</span>
						</label>
					</div>
					<div class="checkbox">
						<label class="js-connector">
							<input type="checkbox"> 
							<span>Нидерланды</span>
						</label>
					</div>
					<div class="checkbox">
						<label class="js-connector">
							<input type="checkbox"> 
							<span>Малайзия</span>
						</label>
					</div>
					<div class="checkbox">
						<label class="js-connector">
							<input type="checkbox"> 
							<span>Марокко</span>
						</label>
					</div>
					<div class="checkbox">
						<label class="js-connector">
							<input type="checkbox"> 
							<span>Австрия</span>
						</label>
					</div>
					<div class="checkbox">
						<label class="js-connector">
							<input type="checkbox"> 
							<span>Беларусь</span>
						</label>
					</div>
					<div class="checkbox">
						<label class="js-connector">
							<input type="checkbox"> 
							<span>Великобритания</span>
						</label>
					</div>
					<div class="checkbox">
						<label class="js-connector">
							<input type="checkbox"> 
							<span>Индия</span>
						</label>
					</div>
					<div class="checkbox">
						<label class="js-connector">
							<input type="checkbox"> 
							<span>Испания</span>
						</label>
					</div>
					<div class="checkbox">
						<label class="js-connector">
							<input type="checkbox"> 
							<span>Италия</span>
						</label>
					</div>
					<div class="checkbox">
						<label class="js-connector">
							<input type="checkbox"> 
							<span>Китай</span>
						</label>
					</div>
					<div class="checkbox">
						<label class="js-connector">
							<input type="checkbox"> 
							<span>Литва</span>
						</label>
					</div>
					<div class="checkbox">
						<label class="js-connector">
							<input type="checkbox"> 
							<span>Малайзия</span>
						</label>
					</div>
					<div class="checkbox">
						<label class="js-connector">
							<input type="checkbox"> 
							<span>Марокко</span>
						</label>
					</div>
					<div class="checkbox">
						<label class="js-connector">
							<input type="checkbox"> 
							<span>Нидерланды</span>
						</label>
					</div>
					<div class="checkbox">
						<label class="js-connector">
							<input type="checkbox"> 
							<span>Малайзия</span>
						</label>
					</div>
					<div class="checkbox">
						<label class="js-connector">
							<input type="checkbox"> 
							<span>Марокко</span>
						</label>
					</div>
				</div>
				<button class="btn-dots btn-dots_light" type="reset">Очистить фильтр</button>
				<div class="sidebar__group">
					<div class="note-text">
						Мы не доставляем в регионы продукты с небольшим сроком хранения, потому что не можем гарантировать сохранение их вкусовых свойств при доставке.
					</div>
					<div class="checkbox">
						<label>
							<input type="checkbox"> 
							<span>Скрыть продукты с небольшим сроком хранения</span>
						</label>
					</div>
				</div>
			</form>
			<a class="sort-result js-connect" href="#">
				показать 5 товаров
			</a>
		</div>
		<div class="sidebar__group">
			<a class="banner-img" href="#">
				<img src="img/banner2.jpg" alt="img">
			</a>
		</div>
	</div>
	<div class="sidebar__overlay hidden-lg hidden-md js-toggler" data-toggle="js-sidebar" data-root="no-scroll"></div>
</div>